.infoprod-container {
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.card-base {
  box-shadow: 0px 0px 20px var(--shadow);
}

.info {
  gap: 35px;
}
.text {
  font-size: 24px;
  color: gray;
}
.prodcard {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 15px 25px;
  gap: 15px;
  justify-content: space-between;
  background: whitesmoke;
}

.card-list {
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 50px 30px;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: black;
  width: 100%;
  /* box-shadow: 0px 0px 20px var(--shadow); */
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  transition: 0.25s;
}
.card img:hover {
  filter: brightness(70%);
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (max-width: 675px) {
  .card-list {
    grid-template-columns: 1fr;
  }
} */

@media (max-width: 500px) {
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
